
{% block content %}

<form action="{{ url_for('display_all_titles') }}" method="POST">
    {{ form.titlename.label() }}{{ form.titlename() }}<br>
    {{ form.submit() }}
</form>

{% endblock %}


<p>------------</p>
<h3>Movie Database</h3>
<ul>
    <li><a href="{{ url_for('index')}}">Home</a></li>
    <li><a href="{{ url_for('display_all_titles')}}">Titles</a></li>
    <li><a href="{{ url_for('display_all_directors')}}">Director</a></li>
    <li><a href="{{ url_for('people')}}">People</a></li>
</ul>
